.clickable {
	cursor: pointer;
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;
}



.tabs > div {
	margin-top: 20px;
}
.tabs .btn:focus {
	outline: none;
}

.conjure .panel-body {
	transition: background 0.05s, color 0.05s;
}
.conjure .panel-body:active {
	background: #d9edf7;
	color: #31708f;
	transition: background 0s, color 0s;
}
