<!DOCTYPE html>
<html>
<head>
	<title>ClickMage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/lib/big.min.js"></script>
	<script src="js/game.js"></script>
	<script src="js/conjurings.js"></script>
	<script src="js/skills.js"></script>
	<script src="js/units.js"></script>
	<script src="js/concoctions.js"></script>
	<script src="js/app.js"></script>
</head>
<body class="text-center" ng-app="clickMage" ng-controller="mainController as controller">
	<div id="alerts"></div>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/game">ClickMage</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#main-menu"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
			</div>
			<div id="main-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#/game">Game</a></li>
					<li><a href="#/stats">My Stats</a></li>
					<li><a href="#/settings">Settings</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#" ng-click="resetGame()"><span class="text-danger">Reset</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	
	<main class="container">
		<header class="page-header">
			<h2>Click Stuff!</h2>
		</header>
		<section class="row">
			
			<div class="col-sm-4">
				<div class="panel panel-info" id="conjurings" ng-controller="conjuringsController">
					<div class="panel-heading">Conjure Resources</div>
					<div class="panel-body clickable" ng-repeat="(conjuring, props) in conjurings" ng-click="conjure(props)" ng-if="canConjure(props)">
						<p>
							<span>Conjure {{ conjuring | capitalize }} <span class="badge">+{{ getConjureAmt(props) }}</span></span>
						</p>
						<p class="text-left">
							<span class="text-muted small">{{ props.ownedPhrase }}:</span><span class="text-primary pull-right">{{ displayConjuring(props) }}</span>
						</p>
					</div>
				</div>
			</div>
			
			
			<div class="col-sm-8">
				<ul class="nav nav-tabs game-tabs">
					<li ng-repeat="(component, props) in components" ng-class="{true: 'active', false: ''}[component === 'units']">
						<a data-toggle="tab" href="#{{ component }}" class="hotkey-{{ getHotkey(0, component, components) }}">{{ component }}</a>
					</li>
				</ul>
				
				
				
				<div class="tab-content game-tab-content">
				
					<div class="tab-pane active" id="units" ng-controller="unitsController">
						<ul class="nav nav-pills nav-justified unit-groups-pills">
							<li ng-repeat="(group, groupUnits) in units" ng-if="showGroup(groupUnits)" ng-class="{true: 'active', false: ''}[group === 'creatures']">
								<a data-toggle="pill" href="#unit-group-{{ group }}" class="hotkey-{{ getHotkey(1, group, units) }}">{{ group }}</a>
							</li>
						</ul>
						
						<div class="tab-content">
							<div class="tab-pane" ng-repeat="(group, groupUnits) in units" id="unit-group-{{ group }}" ng-class="{true: 'active', false: ''}[group === 'creatures']">
								<ul class="nav nav-pills unit-group-units">
									<li ng-repeat="(unit, props) in groupUnits" ng-if="canSummon(props)" ng-class="{true: 'active', false: ''}[isFirstUnit(unit, groupUnits)]">
										<a data-toggle="pill" href="#unit-{{ group }}-{{ unit }}" class="hotkey-{{ getHotkey(2, unit, groupUnits) }}">{{ unit }}</a>
									</li>
								</ul>
								
								<div class="tab-content">
									<div class="tab-pane" ng-repeat="(unit, props) in groupUnits" id="unit-{{ group }}-{{ unit }}" ng-if="canSummon(props)" ng-class="{true: 'active', false: ''}[isFirstUnit(unit, groupUnits)]">
										<h4>{{ unit }}</h4>
										<p class="text-left text-muted unit-info">
											<span class="text-primary">{{ props.owned }}</span> <span class="small">summoned</span><span class="pull-right small">Cost: {{ props.cost }}</span>
										</p>
										<div class="btn-group btn-group-justified">
											<a class="btn btn-default disabled" ng-if="!canAfford(props.cost, group, 1)">Insufficient mana</a>
											<a class="btn btn-default hotkey-{{ getHotkey(3, 0) }}" ng-if="canAfford(props.cost, group, 1)" ng-click="summon(props, group, 1)">summon 1</a>
											<a class="btn btn-default hotkey-{{ getHotkey(3, 1) }}" ng-if="canAfford(props.cost, group, 8)" ng-click="summon(props, group, calcFourth(props.cost, group))">summon {{ calcFourth(props.cost, group) }}</a>
											<a class="btn btn-default hotkey-{{ getHotkey(3, 2) }}" ng-if="canAfford(props.cost, group, 2)" ng-click="summon(props, group, calcMax(props.cost, group))">summon {{ calcMax(props.cost, group) }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="tab-pane" id="concoctions" ng-controller="concoctionsController">
						<ul class="concoctions">
							<li ng-repeat="(concoction, props) in concoctions" ng-class="{true: 'info', false: ''}[props.active]" ng-if="props.cond()">
								<h4>{{ concoction }}</h4>
								<p class="text-muted text-left small">{{ props.desc }}</p>
								<p class="text-info">Recipe</p>
								<ul class="ingredients">
									<li ng-repeat="(ingredient, amount) in props.ingredients">
										<p class="text-left">
											<span>{{ ingredient }}</span>
											<span class="pull-right label" ng-class="{true: 'label-success', false: 'label-danger'}[hasIngredient(ingredient, amount)]">{{ amount }}</span>
										</p>
									</li>
								</ul>
								<p>
									<button class="btn btn-primary" ng-click="concoct(props)" ng-if="canConcoct(props.ingredients)">Concoct</button>
									<button class="btn disabled" ng-if="!canConcoct(props.ingredients)">can't concoct</button>
									<span class="text-muted time-left pull-right small" ng-if="props.active">time left:<br>{{ timeLeft(props) }}s</span>
								</p>
							</li>
						</ul>
					</div>
					
					
					<div class="tab-pane" id="skills" ng-controller="skillsController">
						<table class="table table-striped table-hover text-left"><thead><tr>
							<th>skill</th>
							<th>level</th>
							<th>xp</th>
							<th>next level at</th>
						</tr></thead><tbody>
							<tr ng-repeat="(skill, props) in skills">
								<td>{{ skill }}</td>
								<td>{{ props.level }}</td>
								<td>{{ int(props.xp) }}</td>
								<td>{{ int(props.nextLevel) }}</td>
							</tr>
						</tbody></table>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>